/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  
  
  
}

/* モバイル向けレイアウト */
@media all and (max-width: 670px) {
    header{
        max-width:670px;
        max-height:300px;
    }
    #side{
        display:none;
    }
    #main{
        width:100%;
    }
    .enemy{
        width:50%;
    }
    .box2{
        width:100%;
    }
    
    .box3{
        width:100%;
    }
    .box5{
        width:100%;
    }
    .rilief{
       float:left;
       width:50%;
    }
    .rilief-icon img{
        width:80%;
        height:80%;
    }
    .modal{
     width:80%;
    }
    footer{
        width:100%;
    }
}
